version: "3.7"
services:
  couchdb:
    image: "couchdb:2.3.0"
    hostname: {{ couchdb_hostname }}
    environment:
      COUCHDB_COOKIE: "{{ couchdb_cookie }}"
      COUCHDB_USER: {{ couchdb_username }}
      COUCHDB_PASSWORD: {{ couchdb_password }}
      NODENAME: {{ ansible_default_ipv4.address }}
      COUCHDB_SECRET: "{{ couchdb_secret }}"
    volumes:
      - {{ couchdb_data_dir }}:/opt/couchdb/data
    networks:
      couchdb_net:
        ipv4_address: {{ ansible_default_ipv4.address }}

networks:
  couchdb_net:
    driver: overlay
    attachable: true
